logs
target
.idea
.idea_modules
.classpath
.project
.settings
RUNNING_PID
backend/image
scripts/local_nginx_amend.conf
environment-specific.conf
.DS_Store
node_modules
.cache
dist
elm-frontend/elm-stuff
elm-frontend/.cache
elm-frontend/node_modules
